{% extends 'fms/base.html' %}
{% block content %}

{% url 'add_iden' as add_iden %}

         <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
           <h1>Identities</h1>

           <h2>Recently Added</h2>
           <div class="row">
           <section class="col-md-10">
           <div class="table-responsive">
             <table class="table table-striped">
               <thead>
                 <tr>
                   <th>Last Name</th>
                   <th>First Name</th>
                   <th>Other Names</th>
                   <th>Gender</th>
                   <th>Date of Birth</th>
                 </tr>
               </thead>
               <tbody>
                 {% for iden in main_idens %}
                 <tr>
                   <td>{{ iden.lastName }}</td>
                   <td>{{ iden.firstName }}</td>
                   <td>{{ iden.gender }}</td>
                   <td>{{ iden.dateOfBirth }}</td>
                   <td>{{ iden.dateTimeAdded }}</td>
                   <td>{{ iden.mainIdenKey }}</td>
                 </tr>
                 {% endfor %}
               </tbody>
             </table>
           </div>
       </section>
       <section class="col-md-2">
           <button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='{{ add_iden }}';">Add document</button>
       </section>

   </div>
         </main>
{% endblock %}
